body{
	background-color: #9CDDA5;
}
 

.row .principal img{
	align-items: center;
}

.pie{
	background-color: #2E738A;
	border-width: 1px solid white;
	border-radius: 2px;
}

.aside{
	
	border-width: 2px solid white;
	border-radius: 5px;
	align-items: center;
	text-align: center;
}

.section{
	background-color: #DCDCDA;
	border-width: 2px solid white;
	border-radius: 0px;
}

 
.pie .links {
	background:#34495E;
	
}
 
.pie .links a {
	
	color:#fff;
	padding:5px;
	text-align: center;
	text-decoration:none;

}
 .pie .links a:hover {
	background:#955B8A;
}
.col-10{
	align-items: center;

}

h6 {
	font-family: verdana;
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.bg-nav{
	background-color: #6F98E7;
}
.bg-kl{
background-color: 	#3C537E;  
}

background-overlay {

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-control, .btn{
  border-radius: 0;
}

.team{
  background: #30336b;
}

.background-overlay {
  background: rgba(48, 51, 107,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-header{
  position: relative;
  background: url(../multimedia/imagenes/intrusion-segridad.jpg);
  background-size: cover;
  max-height:  70 px;

}
.ban{

background-color: #6F98E7;
}

.fd{
	background: url(../multimedia/imagenes/algoritmo-min-e1523301106897.jpg);
  	background-size: cover;
}

#animacion:hover{
	-webkit-transition: all 1s linear;
	-webkit-transform: scale(2);
}

#animacion2:hover{
	-webkit-transition: all 1s linear;
	-webkit-transform: scale(0.9);
}

#animacion3:hover{
	-webkit-transition: all 1s linear;
	-webkit-transform: scale(0.9);
}

#animacion4:hover{
	-webkit-transition: all 1s linear;
	-webkit-transform: scale(2);
}

#animacion5:hover{
	-webkit-transition: all 1s linear;
	-webkit-transform: scale(2);
}

#animacion6:hover{
	-webkit-transition: all 1s linear;
	-webkit-transform: scale(2);
}

@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}

#combiniado:hover{
-webkit-animation:swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count:1;
animation-iteration-count: 1;
}

#combiniado2:hover{
-webkit-animation:swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count:1;
animation-iteration-count: 1;
}

#combiniado3:hover{
-webkit-animation:swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count:1;
animation-iteration-count: 1;
}

#transicion1:hover{
background-color: black  ;
  cursor: pointer;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out; 
}

.container-fluid{
	height: 100%;
}

.bl{
	background-color: #9CDDA5;
}

.bh{
	background-color: #2E738A;
}

.fc {
	max-width: 1000px;
	max-height: 1000px;
}

#card1{
	
}

#vborder1{
border-radius:50px; 
}

p{
	font-style: oblique;
}