.fondo{
	background-color: #CCCCCC;
	border: 1px solid #FB9856;
}


.header{
	background-color: #000000;
	border: 1px solid white;
}

.nav {
	background-color: #111111;
	border: 1px solid black;
}

.section{
	background-color: #666666;
	border: 1px solid black;
}

.asiede{
	background-color: #666666;
	border: 1px solid black;
}

.footer{
	background-color: #000000;
	border: 1px solid white;
}